<div class="result-title">
[Inference Context]
<b>$esc.xml($doc.getFieldValue('id'))</b></div>
<div>Id: <a href="#url_for_home?q=uris:$doc.getFieldValue('id')">#field('id')</a></div>
<div>Source: <a href="#url_for_home?q=$doc.getFieldValue('source')">#field('source')</a></div>
<div>Type: <a href="#url_for_home?q=$doc.getFieldValue('innertype')[0]">$esc.xml($doc.getFieldValue('innertype')[0])</a></div>
<div>Context features:<ul>
#foreach($feat in $doc.getFieldValue('innertext'))
<li>$esc.xml($feat)</li>
#end</ul></div>
<div class="mlt">
  #set($mlt = $mltResults.get($docId))
  #set($mltOn = $params.getBool('mlt'))
  #if($mltOn == true)<div class="field-name">Similar Items</div>#end
  #if ($mltOn && $mlt && $mlt.size() > 0)
  <ul>
    #foreach($mltHit in $mlt)
      #set($mltId = $mltHit.getFieldValue('id'))
      <li><div><a href="#url_for_home?q=id:$mltId">$mltId</a></div><div><span class="field-name">Name:</span> $mltHit.getFieldValue('name')</div>
        <div><span class="field-name">Price:</span> $!number.currency($mltHit.getFieldValue('price')) <span class="field-name">In Stock:</span> $mltHit.getFieldValue('inStock')</div>

      </li>
    #end
  </ul>
  #elseif($mltOn && $mlt.size() == 0)
    <div>No Similar Items Found</div>
  #end
</div>
#parse('debug.vm')